<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact</h2>
                    <h3 class="section-subheading text-muted-bright">
                        If interested or for a trial version, please contact us at 
                        <a class="text-primary" href="mailto:contact@spufo.ch">contact@spufo.ch</a> 
                        or use the form.
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form novalidate action="https://api.staticforms.xyz/submit" method="post">
                        <input type="text" name="honeypot" style="display:none">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="control-group form-group">
                                    <input type="text" class="form-control" placeholder="Your name *" id="name" required data-validation-required-message="Bitte geben Sie Ihren Namen ein.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="control-group form-group">
                                    <input type="email" class="form-control" placeholder="Your email *" id="email" required data-validation-required-message="Bitte geben Sie eine gültige Email ein.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="control-group form-group">
                                    <textarea class="form-control" placeholder="Your message *" id="message" required data-validation-required-message="Bitte schreiben Sie eine Nachricht."></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button type="submit" class="btn btn-xl">Send message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
