    <section id="impressum" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Datenschutzerklärung</h2>
                    <h3 class="section-subheading text-muted">Allgemeiner Hinweis und Pflichtinformationen:</h3>
                </div>
            </div>
                <div class="col-md-12">


                    <h1>Datenschutzerklärung für die SPUFO App</h1>

                    <p>Wir legen grossen Wert auf den Schutz Ihrer Daten und möchten Ihnen daher transparent machen, wie wir mit Ihren Informationen umgehen.</p>
                
                    <h2>App Berechtigungen</h2>
                    <ul>
                        <li><strong>Standort:</strong> Die App ermittelt den Standort für Fälle und Bilder.</li>
                        <li><strong>Fotos:</strong> Die App kann Bilder zur Galerie hinzufügen.</li>
                        <li><strong>Kamera:</strong> Die App greift beim Fotografieren auf die Kamera zu.</li>
                    </ul>
                
                    <h2>Datenverarbeitung und -speicherung:</h2>
                    <p>Die SPUFO App speichert alle Daten lokal auf Ihrem Gerät. Es gibt kein Backup und kein Backend, auf dem Ihre Daten zentral gespeichert werden. Die einzige Ausnahme sind Crash-Protokolle (Crash Logs), die von Apple automatisch erfasst werden, um App-Stabilität und Fehlerbehebung zu gewährleisten.</p>
                
                    <h3>Welche Daten werden lokal auf Ihrem Gerät erfasst und gespeichert?</h3>
                    <ul>
                        <li><strong>Fotos:</strong> Eine Kernfunktion der App ist das Erfassen und Bearbeiten von Kameraaufnahmen.</li>
                        <li><strong>Standort:</strong> Der Standort wird als Koordinatenpaar bei Spurbildern in den Metadaten hinterlegt.</li>
                        <li><strong>Smartphone-Modell:</strong> Der Modell Name wird in den Metadaten der Spurbildern hinterlegt.</li>
                        <li><strong>Sprache:</strong> Die App passt sich automatisch der Gerätesprache an. Die Sprache kann in den Einstellungen angepasst werden.</li>
                        <li><strong>Kürzel:</strong> Kürzel der Person, welche die App verwendet.</li>
                        <li><strong>Fall-Lebensdauer:</strong> Nach Ablauf dieser Zeit wird der Fall beim nächsten App Start gelöscht (Standard 30 Tage).</li>
                        <li><strong>Falldaten:</strong> Folgende Falldaten können erfasst werden: ESW Bezeichnung, Ort, Strasse, Geschädigt (Person), Datum / Zeit, Sachbearbeitung (Kürzel), Notiz, Übersichten, Übersichtsfotos, Spurfotos.</li>
                    </ul>
                
                    <h3>Welche Daten werden an Externe übermittelt?</h3>
                    <p><strong>Google Maps API:</strong> Um Ihnen beim Erfassen von Adressen zu helfen, verwenden wir die Google Maps API. Dafür wird Ihr Standort an Google übermittelt. Bitte beachten Sie, dass dies nur für das Adress-Autocomplete verwendet wird und keine weiteren Daten an Google gesendet werden.</p>
                
                    <h2>Löschung der Daten:</h2>
                    <p>Über die Einstellungen können jederzeit sämtliche App-Daten auf Ihrem Gerät gelöscht werden.</p>
                

                </div>
        </div>
    </section>
