<section id="impressum" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Privacy Policy</h2>
                <h3 class="section-subheading text-muted">General Notice and Mandatory Information:</h3>
            </div>
        </div>
        <div class="col-md-12">
            <h1>Privacy Policy for the SPUFO App</h1>
            <p>We place great importance on the protection of your data and would like to make transparent how we handle your information.</p>

            <h2>App Permissions</h2>
            <ul>
                <li><strong>Location:</strong> The app determines the location for cases and pictures.</li>
                <li><strong>Photos:</strong> The app can add pictures to the gallery.</li>
                <li><strong>Camera:</strong> The app accesses the camera when taking photos.</li>
            </ul>

            <h2>Data Processing and Storage:</h2>
            <p>The SPUFO app stores all data locally on your device. There is no backup and no backend where your data is centrally stored. The only exception is crash logs, which are automatically collected by Apple to ensure app stability and error resolution.</p>

            <h3>What data is collected and stored locally on your device?</h3>
            <ul>
                <li><strong>Photos:</strong> A core function of the app is capturing and editing camera images.</li>
                <li><strong>Location:</strong> The location is stored as a pair of coordinates in the metadata of trace images.</li>
                <li><strong>Smartphone Model:</strong> The model name is stored in the metadata of trace images.</li>
                <li><strong>Language:</strong> The app automatically adapts to the device language. The language can be adjusted in the settings.</li>
                <li><strong>Initials:</strong> The initials of the person using the app.</li>
                <li><strong>Case Lifespan:</strong> After this time, the case will be deleted upon the next app start (default 30 days).</li>
                <li><strong>Case Data:</strong> The following case data can be recorded: ESW designation, location, street, affected person, date/time, handling initials, notes, overviews, overview photos, trace photos.</li>
            </ul>

            <h3>What data is transmitted to external parties?</h3>
            <p><strong>Google Maps API:</strong> To assist you in recording addresses, we use the Google Maps API. For this, your location is transmitted to Google. Please note that this is only used for address autocomplete and no other data is sent to Google.</p>

            <h2>Deletion of Data:</h2>
            <p>All app data on your device can be deleted at any time through the settings.</p>
        </div>
    </div>
</section>
