    <section id="impressum" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Impressum</h2>
                    <h3 class="section-subheading text-muted">Diese Website wird betrieben von:</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-12">
                    <p class="text-muted">Twojo Software GmbH</p>
                    <p class="text-muted">c/o Hochschule Luzern - Informatik Smart-up Campus Zug-Rotkreuz</p>
                    <p class="text-muted">Suurstoffi 1</p>
                    <p class="text-muted">6343 Rotkreuz</p>
                    <p class="text-muted">Schweiz</p>
                    <br/>
                    <p class="text-muted">E-Mail: <a>contact@spufo.ch</a></p>
                    <br/>
                    <p class="text-muted">Handelsregister: CHE-461.740.370</p>
                </div>
            </div>
        </div>
    </section>
