<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Funktionen</h2>
                    <h3 class="section-subheading text-muted">Mit diesen Funktionen können Sie den Prozess der Spurensicherung vereinfachen und auf das Smartphone bringen.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-camera fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Kamera</h4>
                    <p class="text-muted">Eine integrierte Kamerafunktion ermöglicht das Fotografieren von Spuren an Tatorten mit den neusten Smartphones.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-ruler-combined fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Linealerkennung</h4>
                    <p class="text-muted">Dank einer, in der App vorhandenen, Linealerkennung können die Bilder automatisch auf 1'000 DPI skaliert werden.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-pencil-square-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Bildbearbeitung</h4>
                    <p class="text-muted">Mittels einer Bildbearbeitungansicht können User die Bilder vor dem Exportieren noch nummerieren und bearbeiten.</p>
                </div>
            </div>
        </div>
    </section>