<!-- Services Section -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Features</h2>
                <h3 class="section-subheading text-muted">With these features, you can simplify the process of crime scene investigation and bring it to your smartphone.</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-camera fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Camera</h4>
                <p class="text-muted">An integrated camera function allows for photographing traces at crime scenes with the latest smartphones.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-ruler-combined fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Ruler Detection</h4>
                <p class="text-muted">Thanks to a ruler detection feature within the app, images can be automatically scaled to 1,000 DPI.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-pencil-square-o fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Image Editing</h4>
                <p class="text-muted">Through an image editing view, users can number and edit the images before exporting them.</p>
            </div>
        </div>
    </div>
</section>
